/* Navbar.css */

nav {
  background-color: #9830dd;
  padding: 20px;
}
.intro {
  display: flex;
  align-items: center;
}
ul {
  list-style-type: none;
  margin: 5;
  padding: 0;
  display: flex;
  justify-content: left;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s ease;
}

a:hover {
  color: #65e061;
}

.active {
  background-color: #9830dd;
}
.start-detect {
  background-color: hsl(276, 72%, 53%);
  color: white;
  display: flex;
  justify-content: left;
}

/* .button {
  background-color: "#007bff";
  color: "#fff";
  padding: "10px 15px";
  border: "none";
  border-radius: "5px";
  cursor: "pointer";
} */
